<created-by></created-by>
<section>
    <out-of-service></out-of-service>
</section>

<!-- TODO: flexbox this layout -->
<section>
    <!-- TODO: move filters and comparisons into components -->
    <filters class="ui tight grid">
        <div class="left aligned three wide column">
            <dropdown params="selectOne: wiki"/>
        </div>
        <div class="six wide column">
            <label>from: <dropdown params="selectOne: fromDate"/></label>
            <label>to: <dropdown params="selectOne: toDate"/></label>
        </div>
        <div class="right aligned seven wide column">
            <button-group params="selectOne: comparable"/>
        </div>
    </filters>
    <comparisons class="ui attached scrolling segment">
        <!-- ko foreach: comparisons -->
        <div class="ui top attached header">
            <span data-bind="popup: {}, text: title, attr: {'data-html': desc}"
                  data-position="bottom center"
                  data-variation="inverted"></span>
            <span class="ui small label" data-bind="text: $parent.timespan"></span>
        </div>
        <div class="ui attached raised segment">
            <a-b-compare params="
                type: type,
                data: data,
                colors: $data.colors,
                annotations: $data.annotations,
                format: format
            "/>
        </div>
        <!-- /ko -->
    </comparisons>

</section>
