<div class="resizable container ui tight grid">
    <div data-bind="rickshawTime: {
        series: series,
        graphSelect: '.graph',
        legendSelect: '.legend',
        timelineSelect: '.timeline',
        zoomSliderSelect: '.zoomSlider',
        options: {
            height: $data.height,
            widthRatio: 13/16*0.97,
        }
    }" class="rickshaw row">
        <div class="thirteen wide column">
            <div class="graph"></div>
            <div class="timeline"></div>
            <div class="zoomSlider"></div>
        </div>
        <div class="right aligned three wide column">
            <div class="legend"></div>
        </div>
    </div>
</div>
