<div class="ui icon inverted input">
    <input placeholder="add project or language"
           class="typeahead"
           autocomplete="off"
           size="20"
           data-bind="projectAutocomplete: {
                          projectOptions: projectOptions,
                          languageOptions: languageOptions,
                          databaseOptions: databaseOptions,
                          select: displaySecondLevel,
                          blur: hideSecondLevel
                     }"/>
    <i class="search icon"></i>
</div>

<span class="tt-dropdown-menu"
      data-bind="css: {open: displaySuboptions}">
    <div class="tt-dataset-suboptions">
        <span class="header" data-bind="text: selectedOption"></span>
        <hr/>
        <span class="tt-suggestions">
        <!-- ko foreach: suboptions -->
            <div class="tt-suggestion"
                 data-bind="text: name,
                            click: $parent.addProject.bind($parent)">
            </div>
        <!-- /ko -->
        </span>
    </div>
</span>

<hr/>

<!-- ko foreach: selectedProjectsByCategory -->
<div class="ui secondary inverted vertical fluid menu">
    <div class="header item">
        <span class="default text" data-bind="text: name"></span>
        <!-- menu goes here -->
        <div class="ui simple dropdown">
            <i class="dropdown icon"></i>
            <div class="menu ui">
                <div class="item small" data-bind="click: $parent.removeCategory.bind($parent, false)">
                    <i class="trash icon"></i> Remove
                </div>
                <div class="item small" data-bind="click: $parent.removeCategory.bind($parent, true)">
                    <i class="star icon"></i> Show this alone
                </div>
            </div>
        </div>
        <!-- menu goes here -->
    </div>
    <div class="colored menu">
    <!-- ko foreach: languages -->
        <div class="item">
            <span>
                <i class="swatch" data-bind="style: {backgroundColor: color}"></i>
                <span data-bind="text: name"></span>
                <span class="subtext" data-bind="text: shortName"></span>
            </span>
            <a data-bind="click: $parents[1].removeProject.bind($parents[1])">
                <i class="faded destructive delete icon"></i>
            </a>
        </div>
    <!-- /ko -->
    </div>
</div>
<hr/>
<!-- /ko -->
