<!doctype html>
<!-- Conventions for Layout index.html:
    * URLs must be relative to the root, as in, they should start with /src
    * CSS that you want concatenated and minified should be in a head section with class="minify"
    * build:title, build:css, and build:js will be replaced by the build system with build artifacts
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- build:title -->
        <title>Metrics by Project</title>
        <!-- endbuild -->


        <section class="minify">
        <!-- build:css -->
        <!-- always pick and choose semantic ui components, full build includes things like chatrooms! -->
        <!-- we have symlinked the modules used from bower_modules into style directory -->

        <link href="/src/css/semantic2.reset.css" rel="stylesheet">
        <link href="/src/css/semantic2.site.css" rel="stylesheet">

        <link href="/src/css/semantic2.menu.css" rel="stylesheet">
        <link href="/src/css/semantic2.dropdown.css" rel="stylesheet">
        <link href="/src/css/semantic2.label.css" rel="stylesheet">
        <link href="/src/css/semantic2.icon.css" rel="stylesheet">
        <link href="/src/css/semantic2.input.css" rel="stylesheet">
        <link href="/src/css/semantic2.segment.css" rel="stylesheet">
        <link href="/src/css/semantic2.popup.css" rel="stylesheet">
        <link href="/src/css/semantic2.header.css" rel="stylesheet">
        <link href="/src/css/semantic2.button.css" rel="stylesheet">
        <!-- end semantic ui -->

        <link href="styles.css" rel="stylesheet">
        <!-- endbuild -->
        </section>

        <!-- build:js -->
        <script src="/src/app/require.config.js"></script>
        <script data-main="/src/app/startup.js" src="/src/bower_modules/requirejs/require.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <metrics-by-project-layout/>
    </body>
</html>
