# temp files and install artifacts
*swp
*swo
.DS_Store
node_modules/
bower_modules/
npm-debug.log

# personal dev stuff
.jslintrc
(OSX).sublime-keymap
dashiki.sublime-project
dashiki.sublime-workspace

# ignore the distribution directory because we are now
# able to build different configurations
dist/
fonts/

# ignore python stuff fabric generates
*pyc
