# temp files and install artifacts
*swp
*swo
.DS_Store
node_modules/
semantic/
yarn-error.log
npm-debug.log

# personal dev stuff
.jslintrc
(OSX).sublime-keymap
dashiki.sublime-project
dashiki.sublime-workspace

# ignore the distribution directory because we are now
# able to build different configurations
dist/

# ignore python stuff fabric generates
*pyc
