<div class="ui dropdown navy label metric" data-bind="toggle: 'open'">
    <i class="add sign box icon"></i>
    <div class="text">Add Metric</div>
    <i class="dropdown icon vertically" data-bind="css: {flipped: open}"></i>
</div>

<div class="ui vertical offset pointing menu target" data-bind="css: {open: open}, foreach: categories">
    <div class="ui simple dropdown item">
        <span data-bind="text: name"></span>
        <div class="menu" data-bind="foreach: metrics">
            <a class="item" data-bind="metricName: $data, click: $parents[1].addMetric"></a>
        </div>
    </div>
</div>

<!-- ko foreach: addedMetrics -->
<div class="ui large label metric" data-bind="css: {black: $data === $parent.selectedMetric()}">
    <a data-bind="click: $parent.selectMetric, metricName: $data"></a>
    &nbsp;&nbsp;&nbsp;|
    <i class="delete icon" data-bind="click: $parent.removeMetric"></i>
</div>
<!-- /ko -->
