<div class="ui dropdown navy label" data-bind="toggle: 'open'">
    <i class="add sign box icon"></i>
    <div class="text">Add Metric</div>
    <i class="dropdown icon vertically" data-bind="css: {flipped: open}"></i>
</div>

<div class="ui pointing white offset above label categories target" data-bind="css: {open: open}">
    <div class="ui two column grid">
        <div class="column">
            <div class="ui vertical pointing black menu">
            <!-- ko foreach: categories -->
                <a class="item" data-bind="
                    css: {active: name === $parent.selectedCategory().name},
                    text: name,
                    click: $parent.selectCategory
                "></a>
            <!-- /ko -->
            </div>
        </div>
        <div class="column">
            <div class="ui vertical menu">
            <!-- ko if: selectedCategory -->
            <!-- ko foreach: categories -->
                <!-- ko if: $parent.selectedCategory().name !== 'All metrics' &&
                            (name === 'All metrics' || name < $parent.selectedCategory().name) -->
                <div class="item">&nbsp;</div>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko foreach: selectedCategory().metrics -->
                <a class="item" data-bind="metricName: $data, click: $parent.addMetric"></a>
            <!-- /ko -->
            <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<!-- ko foreach: addedMetrics -->
<div class="ui large label" data-bind="css: {black: $data === $parent.selectedMetric()}">
    <a data-bind="click: $parent.selectMetric, metricName: $data"></a>
    <i class="separate icon">|</i>
    <i class="delete icon" data-bind="click: $parent.removeMetric"></i>
</div>
<!-- /ko -->
