<!doctype html>
<!-- Conventions for Layout index.html:
    * URLs must be relative to the root, as in, they should start with /src
    * CSS that you want concatenated and minified should be in a head section with class="minify"
    * build:title, build:css, and build:js will be replaced by the build system with build artifacts
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- build:title -->
        <title>Compare</title>
        <!-- endbuild -->

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600">

        <section class="minify">
        <!-- build:css -->
        <!-- always pick and choose semantic ui components, full build includes things like chatrooms! -->
        <!-- we have symlinked the modules used from bower_modules into style directory -->
        <!-- note: semantic < 1.0 docs available here for convenience:
                http://legacy.semantic-ui.com/
            (later versions of semantic have breaking changes)
        -->
        <link href="/src/css/000_grid.min.css" rel="stylesheet">
        <link href="/src/css/010_menu.min.css" rel="stylesheet">
        <link href="/src/css/020_dropdown.min.css" rel="stylesheet">
        <link href="/src/css/030_label.min.css" rel="stylesheet">
        <link href="/src/css/040_icon.min.css" rel="stylesheet">
        <link href="/src/css/050_input.min.css" rel="stylesheet">
        <link href="/src/css/060_segment.min.css" rel="stylesheet">
        <link href="/src/css/061_popup.min.css" rel="stylesheet">
        <link href="/src/css/062_header.min.css" rel="stylesheet">
        <link href="/src/css/063_button.min.css" rel="stylesheet">
        <link href="/src/css/064_dropdown.min.css" rel="stylesheet">
        <link href="/src/css/065_divider.min.css" rel="stylesheet">
        <!-- end semantic ui -->

        <link href="/src/css/068_nvd3.css" rel="stylesheet">
        <link href="/src/css/069_rickshaw.css" rel="stylesheet">
        <link href="01_styles.css" rel="stylesheet">
        <!-- endbuild -->
        </section>

        <!-- build:js -->
        <script src="/src/app/require.config.js"></script>
        <script data-main="/src/app/startup.js" src="/src/bower_modules/requirejs/require.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <compare-layout/>
    </body>
</html>
