<style>
    div.dygraph-legend {
        background-color: rgba(255, 255, 255, 0.9)!important;
        padding: 4px;
        border: 1px solid #dadada;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #aaa;
        margin-left: -120px;
        pointer-events: none;
        width: auto!important;
        z-index: 15!important;
        top: 1.5em!important;
    }

    div.dygraph-legend > span {
        font-weight: bold;
    }
    div.dygraph-legend > span > span {
        padding: 1px 3px 1px 1px;
        text-align: right;
        font-family: 'courier new';
        display: inline-block;
        width: 70px;
    }
    div.dygraph-legend > span > label {
        padding: 1px 1px 1px 2px;
        text-align: left;
    }
    .graph {
        margin-bottom: 12px;
        min-height: 200px;
        min-width: 300px;
        background-color: white;
    }
    /* Patches appearance of annotations */
    .dygraphDefaultAnnotation {
        top: 0!important;
        height: calc(100% - 1.6em)!important;
        border: none!important;
        border-left: 0.05em dashed!important;
        background-color: transparent!important;
        margin-left: 0.53em!important;
        padding-left: 0.15em!important;
        overflow: visible!important;
        user-select: none;
        width: 18px!important;
        text-align: left;
    }
    .graph:hover .dygraphDefaultAnnotation {
        opacity: 0.5;
    }
    .graph:hover .dygraphDefaultAnnotation:hover {
        opacity: 1;
        font-weight: bold;
    }
    .dygraphDefaultAnnotation:hover::before {
        content: " ";
        position: absolute;
        padding: 1px;
        top: 0px;
        left: -1px;
        border: 1px solid;
        width: 18px;
        height: 18px;
    }
    /* Presence of annotations messes with the averaging days control */
    .dygraph-roller input {
        position: relative!important;
        left: auto!important;
        top: auto!important;
        display: inline!important;
    }
</style>

<div data-bind="
    if: data && data.header,
    dygraphs: {
        height: $data.height,
        data: data,
        annotations: $data.annotations,
        patterns: patterns,
        colors: colors,
        format: format,
    }">
</div>
