<style>
    div.dygraph-legend {
        background-color: rgba(255, 255, 255, 0.9)!important;
        padding: 4px;
        border: 1px solid #dadada;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #aaa;
        margin-left: -120px;
        pointer-events: none;
        width: auto!important;
    }

    div.dygraph-legend > span {
        font-weight: bold;
    }
    div.dygraph-legend > span > span {
        padding: 1px 3px 1px 1px;
        text-align: right;
        font-family: 'courier new';
        display: inline-block;
        width: 70px;
    }
    div.dygraph-legend > span > label {
        padding: 1px 1px 1px 2px;
        text-align: left;
    }
    .graph {
        margin-bottom: 12px;
        min-height: 200px;
        min-width: 300px;
        background-color: white;
    }
</style>

<div class="columnar flexer flexed" data-bind="
    if: data && data.header,
    dygraphs: {
        height: $data.height,
        data: data,
        annotations: $data.annotations,
        patterns: patterns,
        colors: colors,
        format: format,
    }">
</div>
