<!-- ko if: metric && metric() && (mergedData && mergedData() && mergedData().header.length) -->
<a class="header"
   data-bind="attr: {href: metric().definition}"
   title="view metric definition" target="_blank">
    <span data-bind="metricName: metric"></span>
    <i class="external url icon"></i>
</a>

<dygraphs-timeseries class="columnar flexer flexed" params="
    data: mergedData,
    colors: colorScale,
    patterns: patternScale,
    annotations: annotations,
    format: format,
"></dygraphs-timeseries>
<!-- /ko -->


<!-- ko ifnot: mergedData && mergedData() && mergedData().header.length -->

<p><i class="up arrow icon"/> Please select a metric above<p>
<p><i class="left arrow icon"/> And projects from the left</p>

<!-- /ko -->
