<section class="section">
    <section class="col span_small projects-container">
        <project-selector params="{ projectOptions:projectOptions,
                                    languageOptions:languageOptions,
                                    defaultProjects: defaultProjects}">

        </project-selector>
    </section>
    <section class="col span_large main-container">
        <time-selector></time-selector>
        <metric-selector params="selectedMetric: selectedMetric"></metric-selector>
        <wikimetrics-visualizer params="projects: selectedProjects, metric: selectedMetric"></wikimetrics-visualizer>
    </section>
</section>
