<section>
    <div>
        <section class="page column projects">
            <project-selector params="projectOptions:projectOptions,
                                      languageOptions:languageOptions,
                                      defaultProjects: defaultProjects,
                                      reverseLookup: reverseLookup,
                                      selectedProjects: selectedProjects">

            </project-selector>
        </section>
        <section class="page column main">
            <div class="ui segment">
                <metric-selector params="selectedMetric: selectedMetric,
                                         metrics: metrics,
                                         defaultSelection: defaultMetrics">
                </metric-selector>
                <time-selector></time-selector>
            </div>
            <div class="ui segment graph">
                <wikimetrics-visualizer params="projects: selectedProjects,
                                                metric: selectedMetric">
                </wikimetrics-visualizer>
            </div>
        </section>
    </div>
</section>
