<style>
div.hierarchy {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
}
div.hierarchy div.sequence text { font-weight: 600; fill: #fff; }
div.hierarchy svg path {
    stroke: #fff;
}
div.hierarchy text.percentage {
    font-size: 20px;
}
</style>
<div class="resizable container hierarchy">
	<div class="sequence">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
            data-bind="attr: {width: width}" height="50">
            <g data-bind="foreach: within">
                <g data-bind="attr: {transform: $parent.getTransform($index)}">
                    <polygon data-bind="
                        attr: {points: $parent.getPoints($index, true)},
                        style: {fill: color}">
                    </polygon>
                    <text data-bind="text: name, attr: $parent.crumb">
                    </text>
                </g>
            </g>
            <g data-bind="foreach: represents">
                <g data-bind="attr: {transform:
                        $parent.getTransform($index, $parent.getRepresentsPadding())}">
                    <polygon data-bind="
                        attr: {points: $parent.getPoints($index)},
                        style: {fill: color}">
                    </polygon>
                    <text data-bind="text: name, attr: $parent.crumb,
                        style: {fill: $parent.getTextColor(color)}">
                    </text>
                </g>
            </g>
            <g data-bind="attr: {transform: getTransform(0, getPercentagePadding())}">
            <text class="percentage"
                data-bind="text: percentage, attr: crumb, style: {fill: 'gray'}">
            </text>
            </g>
        </svg>
    </div>
    <div class="resizable container">
        <svg data-bind="sunburst: {hierarchy: hierarchy}"
             xmlns="http://www.w3.org/2000/svg" version="1.1">
        </svg>
    </div>
</div>
