<!-- ko if: mergedData && mergedData() && mergedData().length -->
<a class="header"
   data-bind="attr: {href: metric().definition}"
   title="view metric definition" target="_blank">
    <span data-bind="metricName: metric"></span>
    <i class="external url icon"></i>
</a>
<vega-timeseries params="data: mergedData, colorScale: colorScale"></vega-timeseries>
<!-- /ko -->
<!-- ko ifnot: mergedData && mergedData() && mergedData().length -->
<p>Please select a metric above <i class="up icon"/><p>
<p><i class="left icon"/> And projects from the left</p>
<!-- /ko -->
<annotation-list params="metric: metric">
</annotation-list>
