<section>
    <div>
        <section class="page column projects">
            <project-selector params="projectOptions:projectOptions,
                                      languageOptions:languageOptions,
                                      defaultProjects: defaultProjects,
                                      reverseLookup: reverseLookup,
                                      selectedProjects: selectedProjects">

            </project-selector>
            <!-- ko if: selectedMetric() && selectedMetric().breakdown -->
            <breakdown-toggle params="metric: selectedMetric"></breakdown-toggle>
            <!-- /ko -->
        </section>
        <section class="page column main">
            <div class="ui segment metric">
                <metric-selector params="selectedMetric: selectedMetric,
                                         metrics: metrics,
                                         defaultSelection: defaultMetrics">
                </metric-selector>
            </div>
            <div class="ui segment">
                <wikimetrics params="projects: selectedProjects,
                                                metric: selectedMetric">
                </wikimetrics>
            </div>
        </section>
    </div>
</section>
