<div class="created by">
    Created by
    <a target="_blank" href="//wikitech.wikimedia.org/wiki/Analytics/Systems/Dashiki"
    title="Dashiki is a dashboarding tool built by the Wikimedia Analytics team.  It lets users declare dashboards using configs on a wiki.">Dashiki</a>
    with
    <a target="_blank" data-bind="attr: { href: link }, text: name"
    title="This configuration wiki article, along with the data, is all that's needed to set up this dashboard."></a>
    <hr/>
    <p style="font-size: 12px;">All data, charts, and other content is available under the
        <a target="_blank" href="//creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</a> dedication.  <a target="_blank" href="//foundation.wikimedia.org/wiki/Non-wiki_privacy_policy">Privacy Policy</a>.
    </p>
</div>

