body { margin: 0; padding: 0; width: 100%; height: 100%;
    font-size: 12px;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

/*  sections  */
.section { padding: 0; margin: 0; height: 100%; }

/*  column setup  */
.col { position: absolute; top: 0; right: 0; left: 0; right: 0; height: 80%; }

/*  left column menu layout */
.span_small { right: 80%; }
.span_large { left: 20%; }

/*  go full width at less than 480 pixels */
@media only screen and (max-width: 1024px) {
    .span_small { position: relative; width: 90%; right: 0; }
    .span_large { position: relative; width: 90%; left: 0; }
}

.hidden {
    display:none;
}

/** Shades of teal: http://0to255.com/00b5ad **/
/** Shades of orange: http://0to255.com/f05940 **/


