/* responsive media queries */
@media only screen and (max-width:640px) {

    section.projects {
        /* hide the projects menu */
        display: none;
    }

    section.main {
        /* override space left for section.projects which is hidden */
        left: 0;
		overflow: auto;
    }

    .ui.vertical.menu {
        /* override minimum menu width - we don't have the luxury of whitespace */
        width: auto;
    }

	.graph {
		width: 100%;
		overflow-x: hidden;
	}

    .graph .parent-of-resizable {
        height: 75vh;
		margin-left: -5%; /* effectively reduces margins */
		width: 120%;
		min-height: 0;
		min-width: 0;
    }

}
