/* site-wide styles */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Nimbus Sans L","Liberation Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    }

/* patches to semantic */
.delete.icon {
    cursor: pointer;
}
.ui.label.navy {
    background-color: #347BFE;
    color: white;
}
.ui.label {
    text-transform: none;
}
.ui.inverted.input input {
    background-color: #7C7C7C;
    color: #232323;
}
.icon.faded {
    opacity: 0.1;
}
.item:hover .icon.faded {
    opacity: 1;
}
.target {
    position: absolute!important;
    z-index: 100!important;
    display: none!important;
    margin-top: -6px!important;
}
.target.open {
    display: block!important;
}
.ui.dropdown.label {
    height: 30.75px;
}
.separate.icon {
    margin: 0 -4px 0 4px;
}

/* our styles */
input.typeahead {
    color: white!important;
}
a.header {
    color: #112233;
    text-decoration: none;
}
a.header:hover {
    text-decoration: underline;
}
section.page.column {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
}
section.projects {
    background-color: #6D6D6D;
    width: 300px;
}
section.main {
    background-color: #EEEEEE;
    right: 0;
    left: 300px;
}
.graph {
    height: 90vh;
}
.graph .parent-of-resizable {
    height: 100%;
    min-height: 600px;
    min-width: 800px;
}
.parent-of-resizable {
    width: 100%;
    height: 100%;
    padding: 0;
}
.colored i.swatch {
    vertical-align: bottom;
    display: inline-block;
    margin: 0 .35em 0 0;
    width: 20px;
    height: 20px;
    opacity: 1;
}

/**
 * Twitter typeahead stuff
 */
.tt-query,
.tt-hint {
    width: 390px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 300px;
    margin-top: 4px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 24em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: #ccc 1px solid;
}
.tt-suggestion .footnote {
    float: right;
    font-size:0.8em;
}
.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}
.tt-suggestion:hover {
    font-weight:bold;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}
.tt-back:hover{
    font-weight:bold;
}
.tt-dropdown-menu {
    display: none;
}
.tt-dropdown-menu .header {
    margin: 0 0 0 10px;
    font-size: 1.5em;
    color: #888;
}
.tt-dropdown-menu > * {
    margin: 0 0 14px 0;
}
.tt-dropdown-menu.open {
    display: block;
    position: absolute;
    z-index: 100;
}
/* End Twitter Typeahead stuff */
