<out-of-service></out-of-service>

<section class="page container">
    <section class="left">
        <project-selector params="projectOptions:projectOptions,
                                  languageOptions:languageOptions,
                                  defaultProjects: defaultProjects,
                                  reverseLookup: reverseLookup,
                                  selectedProjects: selectedProjects">

        </project-selector>
        <!-- ko if: selectedMetric() && selectedMetric().breakdown -->
        <breakdown-toggle params="metric: selectedMetric, breakdownColumns:breakdownColumns, patterns:patterns"></breakdown-toggle>
        <!-- /ko -->
    </section>

    <section class="right columnar flexer flexed">
        <div class="ui segment metric">
            <metric-selector params="selectedMetric: selectedMetric,
                                            metrics: metrics,
                                   defaultSelection: defaultMetrics">
            </metric-selector>
        </div>
        <div class="ui segment columnar flexer flexed visualizer">
            <wikimetrics params="projects: selectedProjects,
                                   metric: selectedMetric,
                         breakdownColumns: breakdownColumns,
                                 patterns: patterns"
                         class="columnar flexer flexed">
            </wikimetrics>
        </div>
    </section>
</section>
