<!doctype html>
<!-- Conventions for Layout index.html:
    * URLs must be relative to the root, as in, they should start with /src
    * all CSS in <head> will be concatenated and minified in the order included
    * build:... sections will be replaced by the build system
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- build:title -->
        <title>Illuminate</title>
        <!-- endbuild -->

        <!-- build:piwik -->
        <!-- endbuild -->

        <!-- build:css -->
        <!-- stylesheets in this section will be replaced by a single minified one in the build -->
        <link href="/src/css/semantic.reset.css" rel="stylesheet">
        <link href="/src/css/semantic.site.css" rel="stylesheet">

        <link href="/src/css/semantic.grid.css" rel="stylesheet">
        <link href="/src/css/semantic.menu.css" rel="stylesheet">
        <link href="/src/css/semantic.segment.css" rel="stylesheet">
        <link href="/src/css/semantic.header.css" rel="stylesheet">
        <link href="/src/css/semantic.button.css" rel="stylesheet">
        <link href="/src/css/semantic.table.css" rel="stylesheet">
        <link href="/src/css/semantic.icon.css" rel="stylesheet">
        <link href="/src/css/semantic.input.css" rel="stylesheet">
        <link href="/src/css/semantic.checkbox.css" rel="stylesheet">
        <link href="/src/css/semantic.transition.css" rel="stylesheet">
        <link href="/src/css/semantic.dropdown.css" rel="stylesheet">
        <link href="/src/css/semantic.label.css" rel="stylesheet">

        <link href="/src/css/datepicker.css" rel="stylesheet">

        <link href="/src/layouts/tabs/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- build:js -->
        <script src="/src/app/require.config.js"></script>
        <script data-main="/src/app/startup.js" src="/node_modules/requirejs/require.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <tabs-layout/>
    </body>
</html>
