body {
    font-family: "Nimbus Sans L","Liberation Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1 small {
    font-size: 18px;
    font-weight: normal;
    color: #999999;
}

.resizable.container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.link {
    cursor: pointer!important;
}

.flexer {
    display: flex;
    flex-direction: column;
}
.flexed {
    overflow-x: hidden!important;
    flex: 1;
}

tabs-layout {
    height: 100%;
}

tabs-layout .ui.header {
    margin: 10px;
}
tabs-layout .ui.menu {
    margin-bottom: 0;
}

tabs-layout > .top.pane {
    padding: 10px 0 0 10px;
}
tabs-layout > .bottom.pane {
    background-color: #f7f7f7;
    padding: 1em;
}

tabs-layout > .bottom.pane .attached.segment {
    width: auto;
}

.ui.simple.dropdown > .menu {
    margin-top: 2px!important;
}
.ui.simple.active.dropdown > .menu {
    display: none;
}
.ui.simple.active.dropdown:hover > .menu {
    display: block;
}

.tight.segment {
    padding: 0px 6px 3px 6px;
}

/* Simple reveal */
.ui.simple.reveal .hidden.content {
    opacity: 0;
}
.ui.simple.reveal:hover .hidden.content {
    opacity: 1;
}


/* patches to datepicker layout and input padding */
.daterangepicker.dropdown-menu {
    min-width: 670px;
}

.ui.icon.input .daterangepicker .ranges input.input-mini {
    font-size: 11px!important;
    padding-right: 4px!important;
}
